
h1{
    font-family: 'Process-Registration';
   font-weight: bold;
   font-style: normal;
   color: black;
}

.wrapper{
  margin: 0 auto;
  width: 800px;
  position: relative;
}

.tagline{
  position: absolute;
  top: 170px;
  left: 304px;
}

.thisbutton{
  position: absolute;
  top: 350px;
  left: 357px;
}

#reset{
  background: #dddddd;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 19px 5px 19px;
  text-decoration: none;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}

#reset:hover {
  background: ##000000;
  text-decoration: none;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #000080;
}

#blog {
    top: 80px;
    background-color: #000080;
}

#projects {
    top: 140px;
    background-color: #000080;
}

#contact {
    top: 200px;
    background-color: #000080
}
