
h1{
  font-family: 'Process-Registration';
  font-weight: bold;
  font-style: normal;
  color: black;
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    top: 10px;
    position: relative;
    z-index: -1;
}

p{
  spacing: 3px;
  font-size: 20px;
  padding: 8px;
}

.thisbutton{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70px;
  position: relative;
  left: -19px;
  z-index: 6;
}

.tagline{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  position: relative;
  left: 300px;
  bottom: 300px;
  z-index: 1

}

#reset{
  background: #ffffff;
  /* border-radius: 28px; */
  font-family: Arial;
  color: #000080;
  font-size: 14px;
  padding: 5px 19px 5px 19px;
  text-decoration: none;
  font-family: 'UniqueRegular';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 4px;
}

#reset:hover {
  background: #808080;
  text-decoration: none;
}

nav {
  height: 64px;
  background: #000080;
  padding: 0px 32px;
  border-bottom: 0px solid #000080;
  text-align: left;
  box-shadow: 0px 0px 4px #000080;
  z-index: 2;
}
nav ul {
  margin: 0px;
  padding: 0px;
}
.button {
  font-family: 'UniqueRegular';
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0 8px;
  padding: 0px 32px;
  display: block;
  height: 100%;
  min-width:9px;
  line-height: 64px;
  border: 1px solid #000080;
  border-width: 0px 1px;
  box-shadow: 0px 0px 4px #ffffff;
  transition: box-shadow .2s linear;
}
nav ul li, .radio > .button {
  display: inline-block;
  vertical-align:top;
}
.add
{
  transition: box-shadow .2s linear, margin .3s linear .5s;
}
.add.active
{
  margin:0 98px;
  transition: box-shadow .2s linear, margin .3s linear;
}
.button:link
{
  color: #eee;
  text-decoration: none;
}
.button:visited
{
  color: #eee;
}
.button:hover
{
  box-shadow:none;
}
.button:active,
.button.active {
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 0px 4px #ffffff inset;
}
nav ul li a:active {
  color: #000080;
}
nav ul li a.active {
  color: #000080;
}
.dialog {
  font-family: 'UniqueRegular';
  position: relative;
  text-align: center;
  background: 808080;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 256px;
  box-shadow: 0px 0px 8px #000080;
}
.dialog:after,
.dialog:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #000080;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog .title {
  color: #000080;
  font-weight: bold;
  text-align: center;
  border: 1px solid #000080;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: 808080;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 20px;
  line-height:2em;
}
.dialog .title:first-child {
  margin-top: -4px;
}
